
body {
    font-family: "Gill Sans";
    color: black;
}

.container-fluid {
    width: 100vw;
    padding: 0;
    margin: 0;
    text-align: center;
}

#row {margin: 0;}

#col {
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    display: inline-block;
    text-align: left;
}

.navbar {
    background: white;
    position: fixed;
    z-index: 1;
    padding-left: 5vw;
}

.navbar a {
    float: left;
    color: black;
    opacity: 1;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: .17em;
}

.navbar a:hover {
    transition: .2s ease-in-out;
}

#nav {
    color: black;
    padding-right: 2em;
    padding-top: .9em;
    padding-bottom: .9em; 
}


#home {
    margin-top:10vh;
}

#line {
    letter-spacing: .109em;
    line-height: 1.1em;
        margin-bottom: 1.25vh;
        border: solid rgb(223, 222, 222) .02px;
}
h1 {
    color: grey;
    font-weight: 600;
    letter-spacing: .2em;
    padding-top: 10vh;
}

#position {
    letter-spacing: .15em;
    line-height:2vh;
    padding-bottom: .8vh;   

}

#languages {
    letter-spacing: .15em;
    line-height:2vh;
    padding-bottom: 1.2vh;   
}

#place {
    color: grey;
    font-size: .85em;
    letter-spacing: .08em;
    line-height: 2vh;
    padding-bottom: 1vh;
    padding-top: 0;
}

@media (max-width: 425px) {
    #navbar {        padding: 0; margin: 0;
    }
    #navbar a {
        float: left;
        color: black;
        opacity: 1;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: .1em;
    }
    #nav {
        padding-top: .5vh;
        padding-bottom: .5vh;
        padding-left: 4vw;
        padding-right: 1vw;
        margin: 0;
    }
}


/* FOOTER */
#footer {
    width: 100vw;
    bottom: 0;
}

.icons {
    font-size: 1.5em;
    padding: 0;
}

.fab.fa-linkedin:hover,
.fab.fa-instagram:hover,
.fab.fa-facebook-f:hover,
.gmail:hover {
    cursor: pointer;
    transform: scale(1.2);
}
